@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.navigation {
    display: flex;
    align-items: center;
    float: left;
    background-color: #121220 ;
    width: 100%;
    height: 100%;
}

.center {
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 5%;
}

body {
    font: 110% Nunito, sans-serif;
    color: white;
    background: #1A1A2E;
    line-height: 1.88889;
    margin: 0%;
}
table {
    
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 10%;

}

td, th {
    text-align: left;
    padding: 1%;
}

tr:nth-child(even) {
    background-color: #1d1d35;
}
tr:nth-child(odd) {
    background-color: #121220;
}

.spacer{
    margin-bottom: 10%;
}

ul{
    list-style-type: square;
    list-style-position: inside;
}